.Prime-Text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 100%;           
    width: 100%;            
    text-align: center;   
    font-family: Garamond, serif;
    font-size: 20px;
}

.Prime-Text-Box {
    background-color: #e7fff5;
    border-radius: 40px;
    padding: 20px;
    
}





/*? Smallest */
@media (min-width: 500px) and (max-width: 725px) {
    .Prime-Text-Box{
        margin: 0px 20px;
    }
}


/*? Biggest */
@media (min-width: 1278px) {
    .Prime-Text-Box{
        max-width: 900px;  /* The text looks good when the page is huge. */
        padding: 25px;
    }
    .Small-Profile-Text {
        display: none;
    }
}
