html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  /*! background-color: #e4f5ff; */
}

.container {
  height: 200%vh; /* Full viewport height */
}
