.technical-skills-title {
    text-align: center;
    margin-top: 5px;
}

.technical-skills-table {
    margin: auto;
    border: solid;
    border-width: 2px;
}
.technical-skills-table th {
    border: solid;
    border-width: 3px;
}

.technical-skills-table td {
    border: solid;
    border-width: 1px;
}

.expertise {
    transform: translateY(-10px);
    margin-bottom: -10px; 
}
.definition {
    max-width: 300px;
}








.small-box-red{
    width: 20px;  
    height: 10px; 
    background-color: red;
    display: inline-block;
}

.small-box-yellow{
    width: 20px;  
    height: 10px; 
    background-color: yellow;
    display: inline-block;
}

.small-box-green{
    width: 20px; 
    height: 10px; 
    background-color: green;
    display: inline-block;
}

.center-content {
    text-align: center;
}













.more-coming-soon {
    text-align: center;
}


