.more-coming-soon {
    text-align: center;
}

.technical-skills-title {
    text-align: center;
}

.technical-skills-description {
    text-align: center;
    font-size: 18px;
}

.technical-skills-title {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.tech-skills {
    display: flex;
    flex-direction: column;
}
  
.front-back-container {
    display: flex;
    gap: 20px; 
}
  
.front-back-column {
    flex: 1; 
}
  
.more-coming-soon {
    margin-top: 20px;
    font-style: italic;
}
