.CareerGoals {
    background-color: #dde5ee;
    border-radius: 40px;
    width: 100%;
    max-width: 550px;
    height: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CareerGoalsHead {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.CareerGoalsList {
    display: flex; /* Correcting flex */
    flex-direction: column;
    align-items: left;
    text-align: center;
}

.CareerGoalsList li {
    list-style-type: square;
    margin: 16px;
    margin-left: none;
    text-align: left;
    
}

.CareerGoalsList li::marker {
    font-size: 20px;
    text-align: left;
}

@media (min-width: 333px) and (max-width: 956px) {
    .CareerGoals {
        margin: none;
        max-width: 600px;
    }

    .CareerGoalsList li {
        width: auto;
    }
}
