@media (min-width: 733px) {
  .DropDownMenu {
    display: none;
  }
}

/* Hide dropdown by default */
.DropDownMenu {
  display: flex;
  flex-direction: column;
  max-height: 0; /* Initially hidden */
  overflow: hidden; /* Prevent content from showing */
  transition: max-height 0.5s ease-in-out;
  background-color: #f7cb84;
  z-index: 1;
  width: 100%;
}

/* Show the menu with dynamic height */
.DropDownMenu.show {
  max-height: 300px; /* Adjust this value to fit the menu's full height */
}

/* Menu links styles */
.Mini-Home,
.Mini-Projects,
.Mini-Contact {
  padding: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  border: 2px solid black;
  transition: transform 0.3s ease;
}

.Mini-Home:hover,
.Mini-Projects:hover,
.Mini-Contact:hover {
  transform: scale(1.1);
}
